@keyframes skeleton-loading {
    0% {
        background-color: #801AB2;
      }
    
      100% {
        background-color: #4C4CFF;
      }
}
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    position: relative;
    transition: all .3s ease-in-out;
    /* animation: skeleton-loading 1s linear infinite alternate; */
}
.image {
    opacity: .7;
    border-radius: 40%;
    width: 100px;
    height: 100px;
    animation: skeleton-loading 1s linear infinite alternate;
}
.card { 
    cursor: pointer;
}
.price {
    display: flex;
    align-items: center;
    margin: 4px 0;
}
.money {
    height: 20px;
    border-radius: 3px;
    color: transparent;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-right: 5px;
}
.name {
    height: 15px;
    border-radius: 3px;
    color: transparent;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-bottom: 5px;
}
.icon {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    animation: skeleton-loading 1s linear infinite alternate;
}