.constructor {
    display: flex;
    margin: 100px 0 40px;
    flex-direction: column;
    align-items: flex-end;
}
.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
.content {
    overflow-y: scroll; 
    padding-right: 8px;
    max-height: 475px;
}
.none {
    text-align: center;
    margin-top: 45%;
}
.content::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
.content::-webkit-scrollbar-track {
    background: #2F2F37;
  }
   
  /* Handle */
.content::-webkit-scrollbar-thumb {
    background: #8585AD;  
  }
  
  /* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #8282da; 
}