.image {
    margin: 20px auto 8px;
}
.list {
    display: flex;
    list-style-type: none;
    padding: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}