.container {
    padding: 0 8px 0 0;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    max-height: 80vh;
}
.container::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
.container::-webkit-scrollbar-track {
    background: #2F2F37;
  }
   
  /* Handle */
.container::-webkit-scrollbar-thumb {
    background: #8585AD;  
  }
  
  /* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #8282da; 
}