@keyframes skeleton-loading {
    0% {
        background-color: #801AB2;
      }
    
      100% {
        background-color: #4C4CFF;
      }
}
  
.section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 16px 0 0;
    row-gap: 32px;
    height: 100%;
    place-items: center;
    margin-bottom: 30px;
}
.title {
    border-radius: 3px;
    width: 30%;
    color: transparent;
    margin-bottom: 30px;
    animation: skeleton-loading 1s linear infinite alternate;
}